<div class="container mt-4">
 
  <h2 class="mb-4">Create Shelf</h2>
 
  <form (ngSubmit)="createShelf()" #deviceForm="ngForm">
 
   
    <div class="mb-3">
      <label class="form-label">Shelf Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="shelf.name"
        required
        #name="ngModel">
 
      <div *ngIf="name.invalid && name.touched" class="text-danger">
        Shelf Name is required
      </div>
    </div>
 
    <!-- Part Number -->
    <div class="mb-3">
      <label class="form-label">Part Number</label>
      <input
        type="text"
        class="form-control"
        name="partNumber"
        [(ngModel)]="shelf.partNumber"
        required
        #partNumber="ngModel">
 
      <div *ngIf="partNumber.invalid && partNumber.touched" class="text-danger">
        Part Number is required
      </div>
    </div>
 
    
 
    <!-- Buttons -->
    <div class="mt-4">
 
      <button
        type="submit"
        class="btn btn-success me-2"
        [disabled]="deviceForm.invalid">
        Create shelf
      </button>
 
      <button
        type="button"
        class="btn btn-secondary"
        routerLink="/">
        Cancel
      </button>
 
    </div>
 
  </form>
 
</div>