<div class="container mt-4">
 
  <h2 class="text-center">Update Device</h2>
 
  <form *ngIf="device" #form ="ngForm"
  (ngSubmit)="updateDevice()">
 
    <div class="mb-3">
      <label class="form-label">Device Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="device.name"
             name="deviceName"
             required 
         #name="ngModel"> <div *ngIf="name.invalid && name.touched" class="text-danger">
       Name is required
  </div>
</div>

    <div class="mb-3">
      <label class="form-label">Part Number</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="device.partNumber"
             name="partNumber"
         required 
         #partNumber="ngModel"> <div *ngIf="partNumber.invalid && partNumber.touched" class="text-danger">
       Part Number is required
  </div>
</div>
             



     <div class="mb-3">
      <label class="form-label">Building Name</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="device.buildingName"
             name="buildingName"
    required 
         #buildingName="ngModel"> <div *ngIf="buildingName.invalid && buildingName.touched" class="text-danger">
       Building Name is required
  </div>
</div>
 
    <div class="mb-3">
  <label class="form-label">Device Type</label>
  <input type="text"
         class="form-control"
         [(ngModel)]="device.deviceType"
         name="deviceType"
         required 
         #deviceType="ngModel"> <div *ngIf="deviceType.invalid && deviceType.touched" class="text-danger">
       Device Type is required
  </div>
</div>
 
   
 
    <button class="btn btn-success"
        [disabled]="form.invalid">
      Update Device
    </button>
 
  </form>
 
</div>
 
